
.main{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    h2{
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
    }
    .main-li{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
    }

}
@media (max-width:1110px){
   .main-div{
    display: flex;
    margin-top: 8%;
   }
 
   .headir-img-1{
    width: 30%px;
    height: 500px;
   }
   .main{
        display: inline;
   }
   h2{
        display:inline;
        
   }
   .main-li{
        display:inline;
        
   }
   
    
}
@media (max-width:550px){
  .main{
    display: inline;
    }
    .main-div{
        display: inline;
        text-align: center;
    }
    .main-img{
        text-align: center;
    }
    
       .headir-2{
        text-align: center;
        font-family: ;
       }
       .main-4{
        display: inline;
       }
     
 }
 @media (max-width:650px){
   
       .main-li-1{
        width: 130%;
       }
       .h1{
        font-size: 50px;
       }
   }

 .main-3{
    width: 100%;
    height: 577px;
    background-color: rgb(31, 28, 28);
    margin-top: 10%;
    display: flex;
   
    .main-ul-1{
        width: 540px;
        height: 160px;
        margin: 10% 35% 0% 35%;
    }
    h3{
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;
    } 
    .main-li-1{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        margin-top: 8%;
    }
}
.main-4{
    width: 80%;
    height: 382px;
    display: flex;
    margin-top: -86px;
    justify-content: space-between;
    margin-left: 10%;
    .main-4-ul1{
        background-color:#0E8784;
        text-align: center;
        border-radius: 8px;
    }
    .main-4-ul{
        .main-4-img{

            margin-top: 25%;
            
        }
        .main-li1{
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #FEFCF7;
            margin-top: 10%;
        }
        .main-li2{
            margin-top: 15%;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #FEFCF7;
        }
    }
}
@media (max-width:1000px){
    .main-4{
        display: inline;
    }
    .div{
        margin-top: -25%;
    }
    .main-4-ul1{
        width: 45%;
        height: 382px;
        margin: 0% 25% 10% 25%;
    }
}