* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
}

.box {
  width: 90%;
  margin: 20% 10% 0% 10%;
}

.headir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.headir .headir-img {
  margin-left: 35px;
}
.headir .headir-a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #83888F;
  padding: 15px;
}

.headir-img-1 {
  width: 100%;
  height: 600px;
}

.headir-ul {
  display: flex;
}

.headir-2 {
  position: absolute;
  margin: 12%;
}
.headir-2 .h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}
.headir-2 .headir-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin-top: 3%;
}
.headir-2 .headir-button {
  width: 217px;
  height: 56px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
  background: #66D2CF;
  border-radius: 6px;
  margin-top: 6%;
}
.headir-2 .headir-button:hover {
  box-shadow: 0px 0px 20px rgb(179, 126, 126);
}
.headir-2 .headir-button:active {
  background-color: #333D4B;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
.main h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}
.main .main-li {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

@media (max-width: 1110px) {
  .main-div {
    display: flex;
    margin-top: 8%;
  }
  .headir-img-1 {
    width: 30% px;
    height: 500px;
  }
  .main {
    display: inline;
  }
  h2 {
    display: inline;
  }
  .main-li {
    display: inline;
  }
}
@media (max-width: 550px) {
  .main {
    display: inline;
  }
  .main-div {
    display: inline;
    text-align: center;
  }
  .main-img {
    text-align: center;
  }
  .h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    color: #FEFCF7;
  }
  .headir-2 {
    text-align: center;
  }
  .main-4 {
    display: inline;
  }
}
@media (max-width: 650px) {
  .main-li-1 {
    width: 130%;
  }
}
.main-3 {
  width: 100%;
  height: 577px;
  background-color: rgb(31, 28, 28);
  margin-top: 10%;
  display: flex;
}
.main-3 .main-ul-1 {
  width: 540px;
  height: 160px;
  margin: 10% 35% 0% 35%;
}
.main-3 h3 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}
.main-3 .main-li-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 8%;
}

.main-4 {
  width: 80%;
  height: 382px;
  display: flex;
  margin-top: -86px;
  justify-content: space-between;
  margin-left: 10%;
}
.main-4 .main-4-ul1 {
  background-color: #0E8784;
  text-align: center;
  border-radius: 8px;
}
.main-4 .main-4-ul .main-4-img {
  margin-top: 25%;
}
.main-4 .main-4-ul .main-li1 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
  margin-top: 10%;
}
.main-4 .main-4-ul .main-li2 {
  margin-top: 15%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}

@media (max-width: 1000px) {
  .main-4 {
    display: inline;
  }
  .div {
    margin-top: -25%;
  }
  .main-4-ul1 {
    width: 45%;
    height: 382px;
    margin: 0% 25% 10% 25%;
  }
}
.footer {
  width: 75%;
  margin: 20% 15% 0% 15%;
}
.footer h4 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}
.footer .footer-img {
  width: 70%;
  margin-top: 80px;
}
.footer .footer-li1 {
  margin-top: 67px;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}
.footer .footer-li2 {
  margin-top: 38px;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}
.footer .footer-li3 {
  width: 60%;
  margin-top: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
.footer .footer-div {
  display: flex;
  justify-content: space-between;
}

.footer-button {
  width: 217px;
  height: 56px;
  background: #0E8784;
  border-radius: 6px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  border: none;
  margin-top: 10%;
}
.footer-button:hover {
  box-shadow: 0px 0px 20px rgb(179, 126, 126);
}
.footer-button:active {
  background-color: #333D4B;
}

@media (max-width: 1000px) {
  .footer {
    display: inline;
  }
  .footer-div {
    display: inline;
  }
}
.footer-2 {
  display: flex;
  margin-top: 10%;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(40, 30, 30);
}
.footer-2 .footer-2-ul {
  display: flex;
}
.footer-2 .footer-2-ul .img-a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #83888F;
  margin-right: 20px;
}
.footer-2 .footer-2-ul .img-a:hover {
  color: #FEFCF7;
}
.footer-2 .img-0 {
  margin-right: 20px;
}

@media (max-width: 800px) {
  .footer-2 {
    display: inline;
    text-align: center;
  }
  .footer-2-ul {
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 50px;
  }
  .img-2 {
    margin-top: 60px;
  }
  .footer-0 {
    background-color: rgb(31, 27, 27);
    margin-top: 10%;
  }
}/*# sourceMappingURL=main.css.map */